<div class="grid justify-content-center card">
    <div class="col-10 sm:col-6 md:col-4">
      <p-card>
        <div class="grid">
          <div class="col-12 text-center">
            <i class="fas fa-car fa-4x" style="color: #007ad9;"></i>
            <h2>Refeição Digital</h2>
            <p id="msgErro"></p>
          </div>
          <div class="col-12">
            <label for="email">Email:</label>
            <input id="email" class="col-12" type="text" pInputText />
          </div>
          <div class="col-12">
            <label for="codigo">Código:</label>
            <input id="codigo" class="col-12" type="text" pInputText />
          </div>
          <div class="col-12">
            <label for="senha">Senha:</label>
            <input id="senha" class="col-12" type="text" pInputText />
          </div>
          <div class="col-12">
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input id="confirmarSenha" class="col-12" type="text" pInputText />
          </div>
          <div class="col-12">
            <button
              pButton
              type="button"
              label="Alterar Senha"
              class="col-12"
              id="botaoRecuperar"
              (click)="alterarSenha()"
            ></button>
          </div>
          <div class="col-6">
            <p style="cursor: pointer" id="labelLogin" class="label-registro" (click)="voltar()">Voltar</p>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  