<div class="menu-principal grid justify-content-center card">
  <div class="col-10 sm:col-6 md:col-4">
    <p-card>
      <div class="grid menu-grid">
        <div class="col-12 text-center">
          <h2>{{nomeUnidade}}</h2>
          <p id="msgErro"></p>
        </div>

        <div class="col-4 item-menu-d" style="float: right">
          <div class="square-button">
            <i class="pi pi-shopping-cart"></i>
            <span class="button-text">Estoque</span>
          </div>
        </div>

        <div class="col-4 item-menu">
          <div class="square-button">
            <i class="pi pi-inbox"></i>
            <span class="button-text">Produtos</span>
          </div>
        </div>

        <div class="col-4 item-menu-e">
          <div class="square-button">
            <i class="pi pi-money-bill"></i>
            <span class="button-text">Financeiro</span>
          </div>
        </div>

        <div class="col-4 item-menu-d" style="float: right">
          <div class="square-button">
            <i class="pi pi-users"></i>
            <span class="button-text">Funcionários</span>
          </div>
        </div>

        <div class="col-4 item-menu">
          <div class="square-button">
            <i class="pi pi-chart-line"></i>
            <span class="button-text">Relatórios</span>
          </div>
        </div>

        <div class="col-4 item-menu-e">
          <div class="square-button">
            <i class="pi pi-dollar"></i>
            <span class="button-text">PDV</span>
          </div>
        </div>

      </div>
    </p-card>
  </div>
</div>
