<div class="menu-principal grid justify-content-center card">
  <div class="col-10 sm:col-6 md:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12 text-center">
          <i class="fas fa-car fa-4x" style="color: #007ad9;"></i>
          <h2>Refeição Digital</h2>
          <p id="msgErro"></p>
        </div>

        <div class="col-6 item-menu">
          <div class="square-button">
            <i class="material-icons">shopping_cart</i>
            <span class="button-text">Estoque</span>
          </div>
        </div>

        <div class="col-6 item-menu">
          <div class="square-button">
            <i class="material-icons">people</i>
            <span class="button-text">Funcionários</span>
          </div>
        </div>

        <div class="col-6 item-menu">
          <div class="square-button">
            <i class="material-icons">attach_money</i>
            <span class="button-text">Financeiro</span>
          </div>
        </div>

        <div class="col-6 item-menu">
          <div class="square-button">
            <i class="material-icons">description</i>
            <span class="button-text">Relatórios</span>
          </div>
        </div>

      </div>
    </p-card>
  </div>
</div>
