<div class="grid justify-content-center card">
  <div class="col-10 sm:col-6 md:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12 text-center">
          <i class="fas fa-car fa-4x" style="color: #007ad9;"></i>
          <h2>Salão Digital</h2>
          <p id="msgErro"></p>
        </div>
        <div class="col-12">
          <label for="usuario">Email:</label>
          <input id="usuario" class="col-12" type="text" pInputText />
        </div>
        <div class="col-12 campoRegistro" id="nomeRegistro" style="display: none">
          <label for="nome">Nome:</label>
          <input id="nome" class="col-12" type="text" pInputText />
        </div>
        <div class="col-12">
          <label for="senha">Senha:</label>
          <input id="senha" class="col-12" type="password" pInputText />
        </div>
        <div class="col-12 campoRegistro">
          <label for="docregistro">CPF/CNPJ:</label>
          <input id="docregistro" class="col-12" type="text" pInputText />
        </div>
        <div class="col-12 campoRegistro">
          <label for="cep">CEP:</label>
          <input id="cep" (change)="getEnderecoPorCEP()" class="col-12" type="text" pInputText />
        </div>
        <div class="col-6 campoRegistro">
          <label for="logradouro">Logradouro:</label>
          <input id="logradouro" class="col-12" type="text" pInputText disabled />
        </div>
        <div class="col-6 campoRegistro">
          <label for="numero">Numero:</label>
          <input id="numero" class="col-12" type="text" pInputText />
        </div>
        <div class="col-6 campoRegistro">
          <label for="complemento">Complemento:</label>
          <input id="complemento" class="col-12" type="text" pInputText />
        </div>
        <div class="col-6 campoRegistro">
          <label for="bairro">Bairro:</label>
          <input id="bairro" class="col-12" type="text" pInputText disabled />
        </div>
        <div class="col-6 campoRegistro">
          <label for="cidade">Cidade:</label>
          <input id="cidade" class="col-12" type="text" pInputText disabled />
        </div>
        <div class="col-6 campoRegistro">
          <label for="uf">UF:</label>
          <input id="uf" class="col-12" type="text" pInputText disabled />
        </div>
        <div class="col-6 campoRegistro">
          <label for="conselho">Conselho:</label>
          <input id="conselho" class="col-12" type="text" pInputText />
        </div>
        <div class="col-6 campoRegistro">
          <label for="numeroconselho">Número do conselho:</label>
          <input id="numeroconselho" class="col-12" type="text" pInputText />
        </div>
        <div class="col-12 campoRegistro">
          <label for="profissao">Profissão:</label>
          <input id="profissao" class="col-12" type="text" pInputText />
        </div>
        <div class="col-12">
          <button
            pButton
            type="button"
            label="Entrar"
            class="col-12"
            id="botaoLogin"
            (click)="acaoBotao()"
          ></button>
        </div>
        <div class="col-6">
          <p id="labelEsqueciSenha" class="label-registro" (click)="esqueciSenha()">Esqueceu sua senha?</p>
        </div>
        <div class="col-6">
          <p id="labelRegistro" class="label-registro" (click)="alterarTextoRegistro()">Criar nova conta.</p>
        </div>

      </div>
    </p-card>
  </div>
</div>
