<div class="grid justify-content-center card">
  <div class="col-10 sm:col-6 md:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12 text-center">
          <i class="fas fa-car fa-4x" style="color: #007ad9;"></i>
          <h2>Refeição Digital</h2>
          <p id="msgErro"></p>
        </div>
        <div class="col-12">
          <label for="descricao">Descrição:</label>
          <input id="descricao" class="col-12" type="text" pInputText />
        </div>
        <div class="col-12">
          <label for="valor">Valor:</label>
          <input id="valor" class="col-12" type="number" pInputText />
        </div>
        <div class="col-12 text-center">
          <div class="dropdown-container">
            <p-dropdown [options]="categorias" [(ngModel)]="categoria" optionLabel="nome" [showClear]="true" placeholder="Selecione uma categoria"></p-dropdown>
          </div>
        </div>

        <div class="col-12">
          <button
            pButton
            type="button"
            label="Salvar"
            class="col-12"
            id="btnSalvar"
            (click)="salvar()"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
